{% set help = obj|docstring|trim %}

@dataclass
class {{ obj.name }}{{"({})".format(obj.extensions|join(', ')) if obj.extensions }}:
{%- if help %}
{{ help|indent(4, first=True) }}
{%- endif -%}
{%- if obj.attrs|length == 0 and not obj.is_root %}
    pass
{%- endif -%}
{%- if obj.is_root %}
    ROOT_NAME = "{{ obj.local_name }}"
{%- endif -%}
{%- for attr in obj.attrs %}
    {%- set field_params = dict(
                  name=attr.local_name,
                  type=attr.local_type,
                  namespace=attr.namespace,
                  ** attr.restrictions
            )
    %}
    {{ attr.name }}: {{ attr.type }} = field(
        {{ "default_factory" if attr.is_list else "default" }}={{ attr.default }},
        metadata=dict(
            {{ field_params|arguments|indent(12) }}
        )
    )
{%- endfor -%}
{%- for inner in obj.inner %}
    {%- filter indent(4) -%}
        {%- with obj=inner, indent=indent -%}
            {% include "class.jinja2" %}
        {%- endwith -%}
    {%- endfilter -%}
{%- endfor -%}
