{% set help = obj|docstring(enum=True)|trim %}

class {{ obj.name }}(Enum):
{%- if help %}
{{ help|indent(4, first=True) }}
{%- endif -%}
{%- for attr in obj.attrs %}
    {{ attr.name }} = {{ attr.default }}
{%- endfor -%}
