exclude: tests/fixtures|docs/examples
repos:
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.4
    hooks:
      - id: seed-isort-config
        args: ['--exclude=docs/*']
  - repo: https://github.com/timothycrosley/isort
    rev: 4.3.21-2
    hooks:
      - id: isort
  - repo: https://github.com/ambv/black
    rev: 19.10b0
    hooks:
      - id: black
        args: ['--line-length=79']
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: flake8
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements
      - id: pretty-format-json
        args: ['--autofix', '--indent=4']
      - id: fix-encoding-pragma
        args: ['--remove']

  - repo: git@github.com:humitos/mirrors-autoflake.git
    rev: v1.1
    hooks:
      - id: autoflake
        args: ['--in-place', '--remove-all-unused-imports', '--remove-unused-variable']
  - repo: git@github.com:humitos/mirrors-docformatter.git
    rev: v1.0
    hooks:
      - id: docformatter
        args: ['--in-place', '--pre-summary-newline']

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.761
    hooks:
    -   id: mypy
        additional_dependencies: [tokenize-rt]
