include LICENSE README.md LICENSE CHANGES.md
recursive-include docs *
recursive-include tests *
recursive-include xsdata *


exclude .readthedocs.yml
exclude .mkdocs.yml
exclude .pre-commit-config.yaml

global-exclude .DS_Store *.pyc
