{%- set outer = outer|default([obj.name]) %}

@dataclass
class {{ obj.name }}{{"({})".format(obj.extensions|join(', ')) if obj.extensions }}:
{%- if obj.help %}
    """
    {{ obj.help }}
    """
{% endif -%}
{%- if obj.attrs|length == 0 %}
    pass
{%- endif -%}
{%- for attr in obj.attrs %}
    {%- set display_type = '"{}.{}"'.format(outer|join('.'), attr.type) if attr.forward_ref else attr.type -%}
    {%- set display_type = 'List[{}]'.format(display_type) if attr.is_list else display_type -%}
    {%- set field_params = {
                  "name" : attr.local_name,
                  "type" : attr.local_type,
                  "help" :attr.help,
               }
    %}
    {{ attr.name }}: {{ display_type }} = field(
        {{ "default_factory" if attr.is_list else "default" }}=
        {{- "list" if attr.is_list else ('"{}"'.format(attr.default) if attr.default else attr.default) }},
        metadata=dict(
            {{ field_params|arguments|indent(12) }},
            {%- if attr.restrictions %}
            {{ attr.restrictions|arguments|indent(12) }}
            {%- endif %}
        )
    )
{%- endfor -%}
{%- for inner in obj.inner %}
    {%- filter indent(4) -%}
        {%- with obj=inner, outer=outer + [inner.name],  indent=indent -%}
            {% include "class.jinja2" %}
        {%- endwith -%}
    {%- endfilter -%}
{%- endfor -%}
