from dataclasses import dataclass, field
from typing import List, Optional

{%- for package in imports%}
from {{ package.name }} import (
    {%- for obj in package.objects %}
    {{ "{} as {}".format(obj.name, obj.alias) if obj.alias else obj.name }},
    {%- endfor %}
)
{%- endfor -%}


{{ output }}
