from dataclasses import dataclass, field
from typing import List, Optional

{%- for package, classes in imports.items() %}
from {{ package }} import (
    {{ classes|sort|join(",\n    ") }}
)
{%- endfor -%}

{{ output }}
