{{  suite }}
{{ '=' * suite|length }}

**Schema**

.. literalinclude:: {{ schema }}
   :language: xml
   :lines: 1-

**XML Document**

.. literalinclude:: {{ source }}
   :language: xml
   :lines: 3-

**xsData XML Document**

.. literalinclude:: {{ xsdata_xml }}
   :language: xml

**xsData JSON**

.. literalinclude:: {{ xsdata_json }}
   :language: json

.. admonition:: Samples Source
    :class: hint

    `Definitive XML Schema <http://www.datypic.com/books/defxmlschema/>`_ by Priscilla Walmsley (c) 2012 Prentice Hall PTR
