{{  suite }}
{{ '=' * suite|length }}

{%- for item in items | sort(attribute='title') %}

{{ item.title }}
{{ '-' * item.title|length }}

.. literalinclude:: {{ item.source }}
   :language: xml
   :lines: 3-

.. literalinclude:: {{ item.output }}
   :language: python

{%- endfor %}


.. admonition:: Samples Source
    :class: hint

    `Definitive XML Schema <http://www.datypic.com/books/defxmlschema/>`_ by Priscilla Walmsley (c) 2012 Prentice Hall PTR
