target-version = "py310"

[format]
docstring-code-format = true
line-ending = "lf"
quote-style = "double"
indent-style = "space"

[lint]
select = ["I", "UP", "F401"]
future-annotations = true
fixable = ["ALL"]
