{{ '"""{}"""'.format(obj.help | text_strip) }}
{% if obj.has_help_attr %}
Attributes
{%- for var_name, var_doc in obj|class_params %}
{{ "{}: {}".format(var_name, var_doc)|text_wrap(level + 2)|indent(first=True) }}
{%- endfor -%}
{%- endif %}
