{{ '"""{}"""'.format(obj.help | text_strip) }}
{% if obj.has_help_attr %}
{{ "Properties" if obj.is_enumeration else "Parameters" }}
----------
{%- for var_name, var_doc in obj|class_params %}
{{ "{}: {}".format(var_name, var_doc)|text_wrap(level + 1) }}
{%- endfor -%}
{%- endif %}
