{% set offset = (level + 1) * 4 + 7 -%}
{{ '"""{}"""'.format(obj.help | clean_docstring) }}
{% if obj.has_help_attr %}
{{ "Properties" if obj.is_enumeration else "Parameters" }}
----------
{%- for var_name, var_doc in obj | class_params %}
{{ var_name }}
{%- if var_doc %}
{{ var_doc | text_wrap(offset, subsequent_indent="") | indent(width=4, first=True) }}
{%-  endif -%}
{%- endfor -%}
{%- endif %}
