{% set is_enum = obj.is_enumeration -%}
"""
{{ obj.help or "" }}
{% if obj.attrs %}
Attributes
{%- for attr in obj.attrs %}
    {{ attr.name|constant_name if is_enum else attr.name|field_name }}:{{- " " + attr.help|trim if attr.help else "" -}}
{%- endfor -%}
{%- endif %}
"""
