{% set help | format_docstring %}
    {%- include "docstrings." + docstring_style + ".jinja2" -%}
{% endset %}

class {{ obj.name|class_name }}(Enum):
{%- if help %}
{{ help|indent(4, first=True) }}
{%- endif -%}
{%- for attr in obj.attrs %}
    {{ attr.name|constant_name }} = {{ attr|field_default(obj.ns_map) }}
{%- endfor -%}
