{%- for source, items in imports|groupby("source") -%}
{%- if items|length == 1 -%}
from {{ source }} import {{ "{} as {}".format(items[0].name|class_name, items[0].alias|class_name) if items[0].alias else items[0].name|class_name }}
{% else -%}
from {{ source }} import (
{%- for item in items %}
    {{ "{} as {}".format(item.name|class_name, item.alias|class_name) if item.alias else item.name|class_name }},
{%- endfor %}
)
{% endif -%}
{%- endfor %}
