name: tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    name: Python ${{ matrix.python }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        python: [ "3.6", "3.7", "3.8", "3.9", "3.10.0-beta - 3.10", "pypy-3.6", "pypy-3.7" ]
        os: [ "ubuntu", "windows", "macos" ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install libxml2
        if: startsWith(matrix.python, 'pypy') || startsWith(matrix.python, '3.10')
        run: |
          sudo apt-get install libxml2-dev libxslt-dev
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools tox codecov
      - name: Test
        run: |
          tox -e py -- --cov=./xsdata --cov-branch --doctest-glob="docs/*.rst"
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
  w3c-tests:
    name: Python ${{ matrix.python }} - w3c ${{ matrix.mode }} tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: [ "3.7", "3.8", "3.9" ]
        mode: [ "xsd", "json", "xml" ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: tefra/xsdata-w3c-tests
          ref: master
          submodules: true
          path: w3c-tests
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools pytest pytest-xdist xmlschema
          python -m pip install .[lxml,cli]
      - name: Test
        run: |
          pytest -n auto --mode ${{ matrix.mode }} w3c-tests/tests
  benchmark:
    name: Benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install tox
      - name: Benchmark
        run: |
          tox -e benchmarks
  minimum:
    name: Minimum Installation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install pip install .
        run: |
          pip install -e .
      - name: Verify
        run: |
          python tests/integration/benchmarks/conftest.py -c XmlEventWriter
          python tests/integration/benchmarks/conftest.py -c XmlEventHandler
          python tests/integration/benchmarks/conftest.py -c JsonParser
          python tests/integration/benchmarks/conftest.py -c JsonSerializer
          xsdata | xargs -0 python -c "import sys; assert 'Install cli' in sys.argv[1]"
  pre-commit:
    name: Pre-commit Hooks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: pre-commit/action@v2.0.2
